:root {
    --fondo: #f4efe6;
    --marron: #4b2e2e;
    --beige: #d9c7a3;
    --naranja: #c97b63;
    --texto: #2d2d2d;
    --blanco: white;
}

body {
    margin: 0;
    font-family: "Georgia", serif;
    background-color: var(--fondo);
    color: var(--texto);
}

header {
    background-color: var(--marron);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 50px;
}

form {
    margin-top: 20px;
}

input {
    padding: 12px;
    width: 250px;
    border: none;
    border-radius: 10px;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    background-color: var(--naranja);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #a85d48;
}

nav ul {
    padding: 0;
    margin-top: 20px;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
}

section,
aside {
    background-color: white;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

h2,
h3 {
    color: var(--marron);
    font-family: Arial, sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.6;
}

img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    display: block;
    margin-top: 15px;
}

figure {
    text-align: center;
}

figcaption {
    margin-top: 10px;
    color: gray;
}

strong {
    color: #b22222;
    font-size: 28px;
}

del {
    color: gray;
}

article {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

footer {
    background-color: var(--marron);
    color: white;
    text-align: center;
    padding: 25px;
}
